.DetailsBlog {
    width: 60%;
    display: inline-block;
}

.DetailsBlog .poster {
    position: relative;
    overflow: hidden;
}

.poster img {
    float: right;
    width: 70%;
    transition: 0.5s;

}

.p {
    position: absolute;
    width: 60%;
    float: right;
    top: 20%;
    padding: 3px;
}

.movie {
    position: absolute;
    top: 130%;
    left: 25%;
    width: 10%;
    height: 10%;
}