.DataList > table, .DataList th, .DataList td {
	border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
    margin: 20px auto;
}

.DataList tr:nth-child(even) {
    background-color: lightcoral;
}

.DataList tr:nth-child(odd) {
    background-color: orange;
}

.DataList thead tr:first-child {
    background-color: lightgray;
}
